.pomodoro{
    margin: auto;
    height: 820px;
    max-width: 420px;
    background: linear-gradient(to left, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}