/* Parent style  */
.pomodoro{
    margin: auto;
    height: 820px;
    max-width: 420px;
    background: linear-gradient(to top, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 10px;
}

.refresh-button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin: auto 15px;
}

.time-tracker-container{
    font-family: 'Darker Grotesque', sans-serif;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}