.countdown-display{
    height: 200px;
    margin-top: 200px;
    color: white;
}

.countdown-display h2{
    margin-bottom: 0px;
    text-transform: uppercase;
}

.time-display{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 150px;
    margin: 0 auto; 
    height: fit-content;
    margin-top: -33px;
}

.time-number{
    display: inline-block;
    transition: font-size 1s;
}

.time-number:hover {
    font-size: 160px;
}

.red-font{
    color: red !important;
}