.Total{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
}

.total-input{
    background: transparent;
    outline: none;
    border-style: none;
    width: fit-content;
    text-align: right;
    font-size: 1em;
}