.emoji {
    font-size: 15em;
    display: inline-block;
}

.MainBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.camera {
    display: flex;
    flex-direction: row;
    justify-content: center;
}